html, body, div#root, div.container, div.container-fluid { 
  height: 100%;
}

div.container, div.container-fluid {
  padding-top: 12px;
  padding-bottom: 12px;
}

.leaflet-container {
  height: 100%;
}

.popup-vote-table {
  max-height: 250px; 
  overflow: scroll;
}

.popup-vote-table .table-head {
  font-weight: bold;
  font-style: italic;
}

.num-col {
  text-align: right;
}